.root {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.date {
  color: var(--text-color-gray);
}

.photoInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tags {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

@media screen and (max-width: 375px) {
  .root {
    gap: 20px;
  }
  .tags {
    gap: 8px;
  }
}
