.root {
  position: sticky;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
  z-index: 100;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.searchContainer {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
}

.searchBar {
  max-width: 500px;
}

.logo {
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 768px) {
  .content {
    gap: 30px;
  }
  .searchBar {
    max-width: 100%;
  }
  .logo {
    width: 28px;
    height: 28px;
  }
}
